* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/resystem/img/img.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper {
    position:relative;
    top: 8px;
    bottom: unset;
    transform: translate(-5%,-5%)scale(1.10);
    width: 500px;
    height: auto;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: -1px 0 10px rgb(174, 168, 168);
    border-left: 2px solid rgb(136, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 1px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 1px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.wrapper.active{
    opacity: 0;
    transform: translate(-5%,-5%)scale(1.10);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.header button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #fff6f6;
    background: #fffefe;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper .logreg-box {
    width: 100%;
}

.wrapper .form-box .login {
    display: flex;
}

.wrapper .form-box .register {
    display: none;
}

.logreg-box .logreg-title {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}

.logreg-title h2 {
    font-size: 32px;
}

.logreg-title p {
    font-size: 14px;
    font-weight: 500;
}

.logreg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px;
    border-bottom: 2px solid #f8f8f8;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-right: 25px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(255, 249, 249);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 19px;
    color: #ffffff;
}

.logreg-box .remember-forgot {
    font-size: 14.5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: rgb(226, 226, 226);
    margin-right: 3px;
    margin-left: 3px;
}

.remember-forgot  {
    color: #000000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.close-btn a{
    
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #e3dae0ad;
        font-size: 2em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius :20px;
        cursor: pointer;
        z-index: 1;
    
}

.logreg-box .btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.logreg-box .btn a{
    color: #fff3f3d8;
    
}
.logreg-box .btn:hover{
    background-color: #000000c0;
}


.logreg-box .logreg-link {
    font-size: 14.5px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
}

.logreg-box p a {
    color: rgb(12, 10, 10);
    text-decoration: none;
    font-weight: 600;
}

.logreg-box .logreg-link p a:hover {
    text-decoration: underline;
}

.media-options {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 40px;
    color:  rgb(255, 239, 239);
    text-decoration: none;
}
.media-options a:hover{
    background-color:  rgba(18, 16, 16, 0.856);
    
}
.media-options a i{
    font-size: 22px;
    margin: 0 8px 1.5px 0;
    color: rgb(255, 249, 249);
}

.media-options a span{
    font-size: 16px;
    font-weight: 500;
}