* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
body{
    background: url(/resystem/img/img.png) no-repeat;
    background-size: contain;
}

.section {
    width: 100%;
    height: 100vh;
    
}

 .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.section .header .logo {
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}
 header .logo span {
    color: #fbfbfb;
}

 header ul {
    list-style: none;
}

.navigation  a {
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px 25px;
    
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fffcfc;
    border-radius: 2px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.header .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff4f4;
    font-weight: 500;
    transition: .5s;
}

.header .btnLogin-popup:hover {
   
    background-color: #ffffffc7;
    box-shadow: 0 0 10px white;
    border: 1px solid;
    border-radius: 300px;
}


section .texts h1{
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 80px;
    color: #fdfafa;
}

section .texts h1 span{
    color: #ee9595;
}

.section .texts {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
    line-height: 20px;
    text-align: justify;
    font-family:  sans-serif;
    color: white;
    background-color: #2b292948;
}

/* section .background_image img{
    width: 450px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: 30px;
    background: transparent;
} */

section .button  {
    position: relative;
    top: 77%;
    left: 38px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
} 
section .button .read{
    color: rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
   
}
section .button .read:hover{
    background-color: rgb(253, 243, 243);
}
section .button p{
    padding: 10px 25px;
    background: none;
    border: 2px solid #030303;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
 
 
section .button p:hover::after{
    transform-origin: left;
    transform: scaleX(1);
    cursor: pointer;
}



/* About*/


.products{
    width: 100%;
    height: 250vh;
    padding: 50px;
}
.products .box{
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


 .products h1{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
   
 
} 

.products p{
    text-align: center;
    margin: 35px 0;
    color: rgb(23, 23, 23);
    font-size: 20px;
}
.products .food_box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
 
    
}

.products .food_box .food_card{
    background: #4f4a4a;
    width: 300px;
    padding: 20px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.products .food_box .food_card:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.products .food_box .food_card img{
   
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    height: 10;
    padding: 5px 10px;
    margin: 0 15px;
    background: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.products .food_box .food_card img:hover{
    transform: scale(1.1);
}

.products .food_box .food_card h1{
    font-size: 35px;
    color: rgb(243, 238, 238);
    margin: 15px 0;
}

.products .food_box .food_card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}

.products .food_box .food_card .btn{
    text-decoration: none;
    color: white;
    padding: 11px 30px;
    background: #b79453;
    text-align: center;
    border-radius: 20px;
   
}
.products .food_box .food_card .btn:hover{
    transition: 0.3s;
    background-color: #232323;
    box-shadow: 0 0 10px black;
    border: 1px solid;
    border-radius: 30px;
}


.footer {
    background:gray;
    padding: 50px;
    color: white; 
    margin: 25px 0;
}
.footer .main {
    max-width: 1170px;
    margin: 30px 35px;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.footer_col {
    width: 25%;
    padding: 0 15px;
}

.footer_col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    color: white; 
}

.footer_col h4::before {
    content: '';
    position: bottom;
    left: 0;
    bottom: -10px;
    background: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li {
    margin-bottom: 20px;
}

.footer_col ul li a {
    text-decoration: none;
    color: #3a3838;
    cursor: pointer;
    color: white; 
    
}
.footer_col .social img {
    width: 30px;
    margin: 5px;
    cursor: pointer;
  
}   

   

